.header .logo {
  position: absolute;
  left: 50px; /* Adjust the position as needed */
  top: 10px; /* Adjust the position as needed */
}
.header .logo img {
  width: 200px; /* Adjust the width as needed */
  height: 200px;
}

#hero {
  height: 800px;
  background-image: url("/IMAGES/PLACES/drew-dau-GA2sc8nIOsk-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

#hero-content {
  width: 900px;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  position: relative;
  top: 200px;
}

#hero-content h1 {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  font-family: sans-serif;
}

#hero-content p {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 32px;
}

#hero-content a {
  text-decoration: none;
  background-color: rgb(255, 251, 0);
  padding: 12px 24px;
  color: black;
  font-size: 24px;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

#hero-content a:hover {
  background-color: rgb(255, 238, 0);
}

.carousel {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  margin-right: 10px 10px;
}
.carousel img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.slick-slide {
  text-align: center;
}
.highlight-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.highlight {
  background: linear-gradient(0deg, rgb(227, 255, 253), rgb(202, 243, 240));
}
